// custom css
// support stylus
// check
// node_modules/ringcentral-embeddable-extension-common/src/spa/style.styl
// for overides or as example

.form-group
  .col-sm-4
    .call-with-ringccentral-btn
      position: absolute
      top: 50%
      margin-top: -20px
      right: -70px
